.vs/Digits Sort Dummy/DesignTimeBuild/
.vs/Digits Sort Dummy/FileContentIndex/f8dba35f-3c94-44ff-b74f-9a5d144b05df.vsidx
.vs/Digits Sort Dummy/FileContentIndex/
.vs/Digits Sort Dummy/v17/
.vs/ProjectEvaluation/
Digits Sort Dummy/bin/
Digits Sort Dummy/obj/
